body {
  margin: 0;
  display: flex;
  place-items: center;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

.page {
  height: calc(100vh - 100px);
  width: calc(100vw - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  max-width: 700px;

  &.auth-card {
    max-width: 500px;
  }

  &.admin {
    max-width: 1400px;
  }
}

.logoutButton {
  margin-left: auto;
}
